
:root {
    font-size: 62.5%; /* Remettre la base à 1rem = 10px */
    --color-primary: hsl(0, 100%, 50%);
    --color-secondary: hsl(245, 100%, 50%);
    --color-font: hsl(0, 0%, 100%);
    --color-shadow: hsl(235, 36%, 35%);
}

html, body {
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.6rem; /* Taille de police modérée */
    font-family: 'Open sans', sans-serif;
}

h1, p, i {
    color: var(--color-font);
}

i {
    font-size: 2rem; /* Taille icône plus petite */
}

h1 {
    font-size: 50px; /* Taille titre réduite */
}

section {
    display: flex;
    align-items: center;
    height: auto;
    justify-items: center;
    
}

.container {
   
    margin-inline: auto;
    padding-inline: 1.5rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
 
    


}

.panel {
    text-align: center;
    width: 15rem;
    margin-block: 3rem;
    padding: 0.8rem;
    border-radius: 8rem;
    box-shadow: 0px 0px 10px 8px var(--color-shadow);
}

.panel p {
    opacity: .8;
    transition: 1s ease-in;
}

.panel p.active {
    opacity: 1;
    color: var(--color-secondary);
}

.timer {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; /* Taille du texte dans le minuteur ajustée */
}

.controls {
    margin-top: 2rem;
}

.controls button {
    border: none;
    background-color: transparent; 
    cursor: pointer;
}

.setting #gear {
    border: none;
    background-color: transparent; 
    cursor: pointer;
    margin-bottom: 2rem;
}

#form {
    display: none;
    position: fixed ;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 5px;
    left: 55%;
    top : 25%;
    z-index: 999;
    padding: 20px;
    
}

